* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

:root {
    --main-color: rgb(25 146 212);
    --theme-color: white;
    --font-color: white;
}

/***************************SIDEBAR****************/

.sidebar {
    background-color: var(--main-color);
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 1fr 3fr 3fr;
    grid-row: 1 / -1;
}

.sidebar > div {
    color: var(--font-color);
    font-size: 1.1rem;
    border: 3px solid black;
}

.nav > div {
    padding-bottom: 1rem;
    padding-left: 1rem;
}

/*********************MAIN**********************************/


.header {
    background-color: green;
    display: grid;
    grid-template-columns: 5fr repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
}

.profile {
    border: 2px solid pink;
    grid-column: 2 / -1;
}

.content {
    background-color: blue;
}

.header button {
    background-color: var(--main-color);
    color: var(--font-color);
    border: none;
    border-radius: 1rem;
    padding: .5rem 1.7rem;
}