* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "robotoregular";
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

:root {
    --main-color: rgb(25 146 212);
    --theme-color: white;
    --font-color: white;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/***************************SIDEBAR****************/

.sidebar {
    background-color: var(--main-color);
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 1fr 3fr 3fr;
    grid-row: 1 / -1;
}

.sidebar > div {
    color: var(--font-color);
    font-size: 1.1rem;
    border: 3px solid black;
}

.nav > div {
    padding-bottom: 1rem;
    padding-left: 1rem;
}

/*********************MAIN**********************************/


.header {
    background-color: var(--theme-color);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 0 4rem;
}

.profile {
    border: 2px solid pink;
    grid-column: 2 / -1;
}

.content {
    background-color: blue;
}

/*****BUTTONS*******/

.header button {
    background-color: var(--main-color);
    color: var(--font-color);
    border: none;
    border-radius: 1.2rem;
    padding: .6rem 1.7rem;
    cursor: pointer;
}

.header button:hover {
    background-color: rgb(38 155 218);
}

.buttons {
    gap: 2rem;
}


.buttons, .profile {
    display: flex; 
    justify-content: end;
    align-items: center;
}

/******PROFILE*******/

.profile p {
    font-weight: 600;
    font-size: 1.1rem;
}

/****GREETING*********/

.greeting > span {
    font-weight: 600;
}

.greeting > h2 {
    margin-top: 1rem;
}

/****SEARCH BAR*****/

.header input[type = "search"] {
    background-color: rgb(213, 216, 221);
    border: none;
    border-radius: 1.6rem;
    flex-grow: 1;
    height: 1.7rem;
}

.header input[type = "search"]:focus {
    outline: none;
}

.search-container {
    display: flex;
    padding: 1rem;
}